body{
	margin: 0;
	font-size: 17px;
	background-color: #eee;
}

section{
	overflow: hidden;
}

*{
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing: border-box;
}
.nav{
	height: 100px;
	width:100%;
}
.container{
	margin:auto;
	width: 90%;
}
.logo{
	float:left;
	width:320px;
	margin-top: 10px;
}
.menu{
	float: right;
	padding-top: 25px;
}
.menu > li{
	list-style: none;
	display: inline-block;
}
p,h1,h3{
	margin:0;
}
.title-wrapper{
	padding-top:200px;
	text-align: center;
}
.intro{
	padding-top: 15px;
	width: 50%;
	float: left;
}

.column{
	float: left;
	width: 30%;
}


h3{
	padding-bottom: 20px;
	padding-top: 20px;
}

.content{
	width: 80%;
	background-color: #fff;
	margin: 40px auto;
	padding: 10px; 
}

.header-img{
	width: 80%;
	margin: 15px auto;
	max-width: 500px;
}
.img-center{
	width: 100%;
}